@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ==================== GLOBALS ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
:root {
    --primary-color: #b9823c;
    --secondary-color: #a69877;
    --red: #e7303f;
    --green: #008000;
    --black: #000000;
    --white: #ffffff;
}

body {
  background-color: var(--white);
  font-family: "Nunito", sans-serif;
}
p {
    font-size: 24px;
    line-height: 30px;
    color: var(--black);   
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  color: var(--black);
  font-weight: 800;
  font-size: 52px;
  line-height: 62px;
}
h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
}
.span-red {
    color: var(--red);
    font-weight: 800;
}
.span-green {
    color: var(--green);
    font-weight: 800;
}
.author-img {
    max-width: 120px;
    width: 100%;
    height: 120px;
    border-radius: 25px;
    overflow: hidden;
    border: 5px solid #1d3046;
}
.author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



/* ==================== STYLES ==================== */
/* EXIT POPUP */
#exit-popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 9999;
    text-align: center;
    padding: 50px 30px;
    border-radius: 25px;
    border: 8px solid #ffbf00;
}
#exit-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 9998;
}

#exit-popup p strong {
    font-weight: 800;
    color: #1c8da7;
    font-size: 40px;
    display: block;
    padding-bottom: 20px;
}
#exit-popup p {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}
#close-popup {
    position: absolute;
    top: 0;
    right: -5px;
    border: none;
    background: #ffbf00;
    padding: 6px 10px;
    border-radius: 0px 15px 0 25px;
    cursor: pointer;
}
#continue {
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 15px;
    border: 0;
    background-color: #f14668;
    color: white;
    margin-top: 25px;
    cursor: pointer;
}
/* HEADER */
.header .logo {
    background: rgb(20, 76, 111);
    text-align: center;
    padding: 12px;
}
.header .logo img {
    max-width: 200px;
    width: 100%;
}

.header .steps {
    background: #dbdbdb;
    display: flex;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    gap: 25px;
    font-weight: 500;
    line-height: 26px;
    color: #7a7a7a;
}
.header .steps span {
    font-weight: 700;
}
.header .steps .step2 {
    background: var(--green);
    color: white;
}
.header .steps .step1,.step2,.step3 {
    padding: 8px;
}
/* GIFT SECTION */
.gift-section {
    text-align: center;
    padding: 50px 25px;
}
.gift-section .heading-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.gift-section .heading-container .blue-text {
    font-size: 41px;
    line-height: 51px;
    color: #1c8da7;
    font-weight: 900;
    letter-spacing: -1.5px;
}
.gift-section .heading-container .blue-text > span {
    text-decoration: underline;
    text-decoration-color: #ffe400;
    text-decoration-thickness: 4px;
}
.gift-section .heading-container .second-par {
    font-size: 52px;
    font-weight: 800;
    line-height: 60px;
}
.gift-section .heading-container .second-par span {
    color: #f14668;
    text-decoration: underline;
}
.gift-section .img-container {
    margin: 15px auto;
    display: block;
    text-align: center;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
}
.gift-section .img-container img {
    width: 100%;
}
.gift-section span {
    display: inline-block;
}
.gift-section strong {
    color: var(--green);
    font-weight: 700;
}
.gift-section .product-title {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    padding-top: 20px;
}
/* AUTHOR MESSAGE */
.author-message {
    padding: 25px 25px 0;
}
.author-message .first-column {
    display: flex;
    gap: 25px;
    align-items: flex-start;
}
.author-message .first-column .texts p {
    padding-bottom: 20px;
}
.author-message .first-column img {
    border-radius: 25px;    
}

.author-message .first-column span {
    font-weight: 800;
}
.author-message .second-column p {
    padding-bottom: 20px;
}
.author-message .second-column span {
    font-weight: 800;
}

/* COUNTDOWN */
.countdown {
    text-align: center;
    padding: 25px 0;
}
.countdown span {
    font-weight: 800;
}
.countdown .countdown-text {
    font-weight: 600;
    font-size: 24px;
}
.countdown .countdown-number {
    color: var(--red);
}
.countdown-text > div:last-child {
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
    padding-top: 15px;
}

/* GOLD CTA BOX */
.gold-cta-box {
    padding: 25px 25px 0;
}
.gold-cta-box .cta-box {
    padding: 20px;
    border-radius: 25px;
    background: #B9823C;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 10px solid #AA3815;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.gold-cta-box .cta-title {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
}
.gold-cta-box .cta-description {
    font-size: 20px;
    font-weight: 700;
}

/* PRODUCT SECTION */
.product-section {
    padding: 50px 25px;
}
.product-section h2 {
    text-align: center;
}
.product-section .prod-box {
    border-radius: 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.product-section .prod-box::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url(./assets/ingrd-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}
.prod-box {
    margin: 25px 0;
}
.prod-box .prod-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #4D2828;
    font-size: 32px;
    font-weight: 800;
    color: white;
    text-align: center;
}
.prod-box .prod-sub-title {
    padding: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
}
.prod-box .prod-image {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}
.prod-box .prod-image img {
    width: 100%;
}
.prod-price {
    padding: 25px 25px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--red);
}
.prod-details {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.prod-testimonial {
    padding: 0 25px 50px;
}
.prod-testimonial .rating {
    display: flex;
    align-items: center;
    gap: 15px;
}
.prod-testimonial .rating img {
    max-width: 100px;
    width: 100%;
}
.prod-testimonial .prod-testimonial-message {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 15px;
}
.prod-testimonial .prod-testimonial-message img {
    max-width: 25px;
    height: 25px;
}
.prod-testimonial .prod-testimoinal-author strong {
    font-weight: 800;
}

/* WARNING SECTION */
.warning-section {
    padding: 0px 25px 50px;
}
.warning-section .warning-box {
    text-align: center;
}
.warning-box h2 {
    color: var(--red);
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}
.warning-box p {
    padding-top: 20px;
    font-size: 30px;
    line-height: 40px;
}

/* BOXED AUTHOR */
.boxed-author-message {
    padding: 0 25px 50px;
}
.boxed-author-message .boxed-author-message-box {
    padding: 50px;
    border-radius: 50px;
    border: 10px solid #B9823C;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}
.boxed-author-message .top-author-content {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 25px;
}
.boxed-author-message .top-author-content .date {
    font-size: 20px;
    font-weight: 700;
}
.boxed-author-message .top-author-content .box-title {
    font-size: 25px;
    font-weight: 800;
    padding-top: 10px;
    color: #394D9D;
}
.boxed-author-message .main-box-message p {
    padding-top: 15px;
}
.two-col-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 25px 0 50px;
}
.two-col-container .col-left,
.two-col-container .col-right {
    flex: 1;
}
.two-col-container .small-testi {
    padding: 5px;
}
.two-col-container .small-testi p {
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
}

.two-col-container .small-testi .author-box {
    margin-top: 15px;
}
.two-col-container .small-testi .author-box .author-name {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 10px;
}
.two-col-container .small-testi .author-box .rating {
    display: flex;
    align-items: center;
    gap: 15px;
}
.two-col-container .small-testi .author-box .rating img {
    max-width: 100px;
    width: 100%;
}
.boxed-author-message .img-container {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.boxed-author-message .img-container img {
    width: 100%;
}

.boxed-author-message .bottom-message {
    padding: 25px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.boxed-author-message .bottom-message h2 {
    font-size: 40px;
    font-weight: 800;
    padding-top: 25px;
    margin: 0;
}
.bottom-message .prices {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.bottom-message .prices .col-left,
.bottom-message .prices .col-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bottom-message .prices span {
    font-size: 20px;
}
.bottom-message .prices .span-red,
.bottom-message .prices .span-green {
    font-size: 40px;
}
.bottom-message .prices .span-red {
    text-decoration: line-through;
}

/* VIP BOX */
.vip-expiration {
    padding: 0 25px 50px;
}
.vip-expiration .vip-expiration-box {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.vip-expiration .vip-expiration-box::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url(./assets/ingrd-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
}
.vip-expiration .vip-expiration-box .box-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding: 25px;
    background: #4D2828;
    color: white;
}

.vip-expiration  .box-content {
    padding: 50px 30px 60px;
    font-size: 18px;
}
.vip-expiration .box-form .click-box {
    min-width: 50px;
    height: 50px;
    background: white;
    border-radius: 10px;
    border: 7px solid #B9823C;
    cursor: pointer;
    position: relative;
}
.vip-expiration .box-form {
    display: flex;
    align-items: start;
    gap: 15px;
    flex: 1;
}
.vip-expiration .box-form .form-title {
    font-size: 32px;
    font-weight: 800;
    flex: 1;
}
.vip-expiration .box-description p {
    line-height: 30px;
    padding-top: 10px;
}
.vip-expiration .box-description .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.vip-expiration .box-description .btn-container a.yellow-btn {
    font-size: 32px;
    line-height: 42px;
    text-decoration: none;
    color: #0055c2;
    font-weight: 800;
    display: inline-block;
    padding: 25px 15px;
    border-radius: 25px;
    background: #FFFF00;
    text-align: center;
    border: 2px solid #1C8DA7;
    margin: 25px 0 0;
    width: 100%;
    transition: 0.3s;
}
.vip-expiration .box-description .btn-container a.yellow-btn:hover {
    background: white;
}
.vip-expiration .box-description .btn-container a.send-transformation-stack {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: black;
}
.vip-expiration .bottom-message {
    font-size: 20px;
    font-weight: 500;
}

.check-hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.check-show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
}
.box-form {
  position: relative;
}

.click-box {
  position: relative;
  min-width: 50px;
  height: 50px;
  background: white;
  border-radius: 10px;
  border: 7px solid #B9823C;
  cursor: pointer;
  z-index: 2;
  animation: clickBoxScale 1.5s infinite ease-in-out;
}

.click-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: rgba(185, 130, 60, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: outer-ripple 2s infinite ease-out;
  animation-delay: 0.5s;
  z-index: -1;
}

@keyframes clickBoxScale {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

@keyframes outer-ripple {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}




/* FINAL NOTICE */
.final-notice {
    padding: 0 25px 120px;
}
.final-notice-box {
    padding: 50px 35px;
    border-radius: 25px;
    background: #B30B0B;
}
.final-notice-box .title {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    color: white;
    padding-bottom: 20px;
}
.final-notice-box .description p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: white;
    padding-top: 15px;
}
.final-notice .btn-container a {
    font-size: 32px;
    line-height: 42px;
    text-decoration: none;
    color: #0055c2;
    font-weight: 800;
    display: inline-block;
    padding: 25px 15px;
    border-radius: 25px;
    background: #FFFF00;
    text-align: center;
    border: 2px solid #1C8DA7;
    margin: 10px 0 0;
    width: 100%;
    transition: 0.3s;
}
.final-notice .btn-container a:hover {
    background: white;
}

/* ==================== RESPONSIVE ==================== */

@media (max-width: 767px) {
    .header .steps {
        flex-direction: column;
        text-align: center;
        gap: 0
    }
    h1 {
        font-size: 35px;
        line-height: 45px;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
    }
    p {
        font-size: 20px;
        line-height: 30px;
    }
    .author-message .first-column {
        flex-direction: column;
    }
    .gift-section {
        padding-bottom: 25px;
    }
    .author-message .first-column {
        flex-direction: column;
    }
    .gift-section .heading-container .second-par {
        font-size: 30px;
        line-height: 40px;
    }
    .gold-cta-box .cta-title {
        font-size: 30px;
        line-height: 30px;
    }
    .product-section {
        padding: 25px;
    }
    .prod-box .prod-title {
        font-size: 25px;
        line-height: 35px;
        padding: 15px;
    }
    .prod-box .prod-sub-title {
        font-size: 20px;
        line-height: 30px;
    }
    .prod-details {
        padding: 15px;
    }
    .warning-box p {
        font-size: 20px;
        line-height: 30px;
    }
    .prod-testimonial {
        padding: 0 15px 40px;
    }
    .boxed-author-message .boxed-author-message-box {
        padding: 15px;
    }
    .boxed-author-message .top-author-content {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    .boxed-author-message .top-author-content .box-title {
        font-size: 20px;
        line-height: 30px;
    }
    .two-col-container {
        flex-direction: column;
        gap: 20px;
    }
    .boxed-author-message .bottom-message h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .bottom-message .prices {
        margin-top: 25px;
        flex-direction: column;
        gap: 25px;
    }
    .boxed-author-message .bottom-message {
        padding: 0;
    }
    .vip-expiration .vip-expiration-box .box-title {
        font-size: 25px;
        line-height: 35px;
    }
    .vip-expiration .box-form .form-title {
        font-size: 20px;
        line-height: 30px;
    }
    .vip-expiration .box-form .click-box {
        width: 50px;
        height: 50px;
    }
    .vip-expiration .box-content {
        padding: 15px;
    }
    .vip-expiration .box-description .btn-container {
        gap: 20px;
    }
    .vip-expiration .box-description .btn-container a.yellow-btn {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }
    .vip-expiration .box-description .btn-container a.send-transformation-stack {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }
    .final-notice-box {
        padding: 25px;
    }
    .final-notice-box .title {
        font-size: 25px;
        line-height: 35px;
    }
    .final-notice-box .description p {
        text-align: center;
        font-size: 18px;
        line-height: 27px;
    }
    .final-notice .btn-container a {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }
    .prod-box .prod-image {
        padding: 0 20px;
    }
}