@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
:root {
    --primary-color: #b9823c;
    --secondary-color: #a69877;
    --red: #e7303f;
    --green: #008000;
    --black: #000000;
    --white: #ffffff;
}

body {
  background-color: var(--white);
  font-family: "Nunito", sans-serif;
}
p {
    font-size: 20px;
    line-height: 25px;
    color: var(--black);   
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}
.span-red {
    color: var(--red);
    font-weight: 800;
}
.span-green {
    color: var(--green);
    font-weight: 800;
}




.gift-section {
    text-align: center;
    padding: 50px 25px;
}
.gift-section h3 {
  color: #c28f2c;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.gift-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 700;
}
.gift-section .img-container {
    margin: 15px 0;
    display: block;
    text-align: center;
}
.gift-section span {
    display: inline-block;
}
.gift-section strong {
    color: var(--green);
    font-weight: 700;
}
/* PRODUCT INTRO */
.product-intro {
    text-align: center;
}
.product-intro span {
    font-weight: 700;
}

/* AUTHOR MESSAGE */
.author-message {
    padding-top: 25px;
}
.author-message .first-column {
    display: flex;
    gap: 25px;
    align-items: center;
}
.author-message .first-column img {
    border-radius: 25px;    
}
.author-message .first-column p {
    padding-top: 15px;
}
.author-message .first-column span {
    font-weight: 800;
}
.author-message .second-column p {
    padding-top: 15px;
}
.author-message .second-column span {
    font-weight: 800;
}

/* COUNTDOWN */
.countdown {
    text-align: center;
    padding: 25px 0;
}
.countdown span {
    font-weight: 800;
}
.countdown .countdown-text {
    font-weight: 800;
    font-size: 32px;
}
.countdown .countdown-number {
    color: var(--red);
}

/* GOLD CTA BOX */
.gold-cta-box {
    padding: 25px;
}
.gold-cta-box .cta-box {
    padding: 50px;
    border-radius: 25px;
    background: #B9823C;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 10px solid #AA3815;
}
.gold-cta-box p {
    font-weight: 700;
}

/* PRODUCT SECTION */
.product-section {
    padding: 50px 0;
}
.product-section h2 {
    text-align: center;
}
.product-section .prod-box {
    border-radius: 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.product-section .prod-box::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url(./assets/ingrd-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}
.prod-box {
    margin: 25px 0;
}
.prod-box .prod-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #4D2828;
    font-size: 32px;
    font-weight: 800;
    color: white;
}
.prod-box .prod-sub-title {
    padding: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.prod-box .prod-image {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}
.prod-box .prod-image img {
    width: 100%;
}
.prod-price {
    padding: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--red);
}
.prod-details {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.prod-testimonial {
    padding: 0 25px 50px;
}
.prod-testimonial .rating {
    display: flex;
    align-items: center;
    gap: 15px;
}
.prod-testimonial .rating img {
    max-width: 100px;
    width: 100%;
}
.prod-testimonial .prod-testimonial-message {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 15px;
}
.prod-testimonial .prod-testimonial-message img {
    max-width: 25px;
    height: 25px;
}
.prod-testimonial .prod-testimoinal-author strong {
    font-weight: 800;
}

/* WARNING SECTION */
.warning-section {
    padding: 0px 25px 50px;
}
.warning-section .warning-box {
    text-align: center;
}
.warning-box h2 {
    color: var(--red);
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}
.warning-box p {
    padding-top: 20px;
    font-size: 30px;
    line-height: 40px;
}

/* BOXED AUTHOR */
.boxed-author-message {
    padding: 0 25px 50px;
}
.boxed-author-message .boxed-author-message-box {
    padding: 50px;
    border-radius: 50px;
    border: 10px solid #B9823C;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}
.boxed-author-message .top-author-content {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 25px;
}
.boxed-author-message .top-author-content .author-img {
    max-width: 100px;
    height: 100px;
    border-radius: 25px;
    overflow: hidden;
}
.boxed-author-message .top-author-content .author-img img {
    width: 100%;
}
.boxed-author-message .top-author-content .date {
    font-size: 20px;
    font-weight: 700;
}
.boxed-author-message .top-author-content .box-title {
    font-size: 25px;
    font-weight: 800;
    padding-top: 10px;
    color: #394D9D;
}
.boxed-author-message .main-box-message p {
    padding-top: 15px;
}
.two-col-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 25px 0 50px;
}
.two-col-container .col-left,
.two-col-container .col-right {
    flex: 1;
}
.two-col-container .small-testi {
    padding: 5px;
}
.two-col-container .small-testi p {
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
}

.two-col-container .small-testi .author-box {
    margin-top: 15px;
}
.two-col-container .small-testi .author-box .author-name {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 10px;
}
.two-col-container .small-testi .author-box .rating {
    display: flex;
    align-items: center;
    gap: 15px;
}
.two-col-container .small-testi .author-box .rating img {
    max-width: 100px;
    width: 100%;
}
.boxed-author-message .img-container {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.boxed-author-message .img-container img {
    width: 100%;
}

.boxed-author-message .bottom-message {
    padding: 25px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.boxed-author-message .bottom-message h2 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 25px;
    margin: 0;
}
.bottom-message .prices {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.bottom-message .prices .col-left,
.bottom-message .prices .col-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bottom-message .prices span {
    font-size: 20px;
}
.bottom-message .prices .span-red,
.bottom-message .prices .span-green {
    font-size: 40px;
}
.bottom-message .prices .span-red {
    text-decoration: line-through;
}